@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap&subset=cyrillic-ext);
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #110E0C;
}

html, body {
  height: 100%;
  color: #ffffff;
}

.first_block {
  position: fixed;
  height: 100%;
  background: url(../img/bg.png) center no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
}

.bg_gradient {
  position: relative;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), color-stop(40.63%, rgba(0, 0, 0, 0.33)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.33) 40.63%, rgba(0, 0, 0, 0.9) 100%);
}

.blur {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.content {
  position: relative;
  height: 100%;
}

.container {
  height: 100%;
  max-width: 1410px;
  margin: 0 auto;
  color: #ffffff;
}

@media (max-width: 1422px) {
  .container .container {
    max-width: 750px;
    font-size: 48px;
  }
  .container .welcome {
    font-size: 48px;
  }
  .container .start {
    font-size: 48px;
  }
  .container .again {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  .container .container {
    max-width: 970px;
    font-size: 32px;
  }
  .container .welcome {
    font-size: 32px;
  }
  .container .start {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .container .container {
    max-width: none;
    font-size: 24px;
    margin: 10px;
  }
  .container .welcome {
    font-size: 24px;
  }
  .container .start {
    font-size: 24px;
  }
  .container .placeDiscription, .container .placeAdress {
    font-size: 14px;
  }
  .container .again {
    font-size: 20px;
  }
}

.welcome {
  width: 100%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 122%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 30px;
  display: inline-block;
  padding: 1.2% 3%;
  margin: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  color: white;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.start {
  background-color: #BD232F;
  font-size: 64px;
  line-height: 121.875%;
  max-height: 300px;
  position: absolute;
  left: 50%;
  bottom: 7%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.start:hover {
  background-color: #a71e2a;
}

.UpHeart {
  position: absolute;
  right: 0;
  width: 13%;
}

.DownHeart {
  width: 20%;
  position: absolute;
  bottom: 0;
}

.container_questions {
  height: 100%;
  max-width: 1176px;
  margin: 0 auto;
  color: #ffffff;
  font-family: 'Montserrat';
  font-style: normal;
}

@media (max-width: 1422px) {
  .container_questions .container_questions {
    max-width: 750px;
    font-size: 48px;
  }
  .container_questions .welcome {
    font-size: 48px;
  }
  .container_questions .start {
    font-size: 48px;
  }
}

@media (max-width: 991px) {
  .container_questions .container_questions {
    max-width: 970px;
    font-size: 32px;
  }
  .container_questions .welcome {
    font-size: 32px;
  }
  .container_questions .start {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .container_questions .container {
    max-width: none;
    font-size: 24px;
    margin: 10px;
  }
  .container_questions .welcome {
    font-size: 24px;
  }
  .container_questions .start {
    font-size: 24px;
  }
  .container_questions .prev, .container_questions .next {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.questions_text {
  width: 100%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 122%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: left;
  position: fixed;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.question_font {
  font-weight: 600;
  font-size: 48px;
  line-height: 122%;
}

.next {
  background-color: #BD232F;
  border: 4px solid #ffffff00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 24px;
  line-height: 121.875%;
  max-height: 300px;
  float: right;
}

.next:hover {
  background-color: #a71e2a;
}

.prev {
  background-color: #bd233000;
  border: 4px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 24px;
  line-height: 121.875%;
  max-height: 300px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.prev:hover {
  color: #d1d1d1;
  border-color: #d1d1d1;
}

.btn_row {
  position: relative;
  top: 20%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin-left: 10px;
  margin-right: 10px;
}

.answer li {
  background: #FF5D4A;
  border-radius: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 10px;
  font-size: 24px;
  cursor: pointer;
  list-style-type: none;
}

.answer li:active {
  outline: 4px solid #ffffff;
}

.answer li:hover {
  outline: 4px solid #ffffff;
}

.question_main {
  position: relative;
  top: 10%;
  margin-left: 10px;
  margin-right: 10px;
}

h1, h2 {
  font-family: 'Montserrat';
}

.again {
  position: relative;
  margin-top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #BD232F;
  font-size: 32px;
}

.again:hover {
  background-color: #a71e2a;
}

.placeImg {
  position: relative;
  width: 70%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  margin: 10px;
  left: 50%;
  -webkit-transform: translate(-54%, 0);
          transform: translate(-54%, 0);
}

.placeName {
  text-align: center;
}

.space {
  position: relative;
  width: 100%;
  height: 2%;
}
