
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap&subset=cyrillic-ext);

// Шрифт по умолчанию
$fontFamily: "Montserrat";



// Переменные
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1410;
$maxWidthContainer2: 1176;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 375.98;

*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    background-color: #110E0C;
}
html,body{
    height: 100%;
    color: #ffffff;
}

.first_block{
    position: fixed;
    height: 100%;
    background: url(../img/bg.png) center no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    margin-left: 0px;
    margin-right: 0px;

}
.bg_gradient{
    
    position: relative;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.33) 40.63%, rgba(0, 0, 0, 0.9) 100%);
    
}
.blur{
    backdrop-filter: blur(20px);
}
.content{
    position: relative;
    height: 100%;
}

.container{
    height: 100%;
    max-width: $maxWidthContainer+px;
    margin: 0 auto;
    color: #ffffff;
    @media (max-width: 1422px ) {
        .container{
            max-width: 750px;
            font-size: 48px;
        }
        .welcome{
            font-size: 48px;
        }
        .start{
            font-size: 48px;
        }
        .again{
            font-size: 30px;
        }
    }
    @media (max-width: 991px ) {
        .container{
            max-width: 970px;
            font-size: 32px;
        }
        .welcome{
            font-size: 32px;
        }
        .start{
            font-size: 32px;
        }
        
    }
    @media (max-width: 767px ) {
        .container{
            max-width: none;
            font-size: 24px;
            margin: 10px;
        }
        .welcome{
            font-size: 24px;
        }
        .start{
            font-size: 24px;
        }
        .placeDiscription,.placeAdress{
            font-size: 14px;
        }
        .again{
            font-size: 20px;
        }
        
    }
}

.welcome{
    // max-height: fit-content;
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 122%;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    
    // margin-left: 10px;
    // margin-right: 10px;
    top: 25%;
    left: 50%;
    
    transform: translate(-50%, 0);
    
    
}
a{
    text-decoration: none;
}
.btn{
    
    border-radius: 30px;
    display: inline-block;
    padding: 1.2% 3%;
    margin: 10px;
    justify-content: center;
    text-align: center;
    // height: 617;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-color 0.3s ease 0s;
    }
    

.start{
    background-color: #BD232F;
    font-size: 64px;
    line-height: 78/64*100%;
    // max-width: 666px;
    max-height: 300px;
    position: absolute;
    left: 50%;
    bottom: 7%;
    transform: translate(-50%, 0);
    &:hover{
        background-color: #a71e2a;
    }
}

.UpHeart{
    position: absolute;
    right: 0;
    width: 13%;
}

.DownHeart{
    width: 20%;
    // float:left;
    position: absolute;
    bottom: 0;
    // z-index: 0;
}




// ************************************************************************

// ВТОРАЯ СТРАНИЦА

// ************************************************************************


.container_questions{
    height: 100%;
    max-width: $maxWidthContainer2+px;
    margin: 0 auto;
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    @media (max-width: 1422px ) {
        .container_questions{
            max-width: 750px;
            font-size: 48px;
        }
        .welcome{
            font-size: 48px;
            // color: green;
        }
        .start{
            font-size: 48px;
            // color: green;
        }
    }
    @media (max-width: 991px ) {
        .container_questions{
            max-width: 970px;
            font-size: 32px;
        }
        .welcome{
            font-size: 32px;
            // color: green;
        }
        .start{
            font-size: 32px;
            // color: green;
        }
        
    }
    @media (max-width: 767px ) {
        .container{
            max-width: none;
            font-size: 24px;
            margin: 10px;
        }
        .welcome{
            font-size: 24px;
            // color: green;
        }
        .start{
            font-size: 24px;
            // color: green;
        }
        .prev,.next{
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
            
        }
        
        
    }
}



.questions_text{
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 122%;
    display: flex;
    align-items: flex-end;
    text-align: left;
    position: fixed;
    top: 25%;
    left: 50%;
    
    transform: translate(-50%, 0);
}
.question_font{
    font-weight: 600;
    font-size: 48px;
    line-height: 122%;
}
.next{
    background-color: #BD232F;
    border: 4px solid #ffffff00;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 78/64*100%;
    max-height: 300px;
    float: right;
    &:hover{
        background-color: #a71e2a;
    }
}

.prev{
    background-color: #bd233000;
    border: 4px solid #ffffff;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 78/64*100%;
    max-height: 300px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    &:hover{
        color: #d1d1d1;
        border-color: #d1d1d1;
    }
}
.btn_row{
    position: relative;
    top: 20%;
    transform: translate(0, -50%);
    margin-left: 10px;
    margin-right: 10px;
}
.answer li{
    
    background: #FF5D4A;
    border-radius: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 10px;
    font-size: 24px;
    cursor: pointer;
    list-style-type: none;
    &:active{
        outline: 4px solid #ffffff;
        // border-color: #d1d1d1;
    }
    &:hover{
        outline: 4px solid #ffffff;
        // border-color: #d1d1d1;
    }
}

.question_main{
    position: relative;
    top: 10%;
    margin-left: 10px;
    margin-right: 10px;
}

h1,h2{
    font-family: 'Montserrat';
    
}

.again{
    position: relative;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #BD232F;
    font-size: 32px;
    &:hover{
        background-color: #a71e2a;
    }
}

.placeImg{
    position: relative;
    width: 70%;
    height: 50%;
    object-fit: cover;
    border-radius: 20px;
    margin: 10px;
    left: 50%;
    transform: translate(-54%, 0);
}
.placeName{
    text-align: center;
}
.space{
    position: relative;
    width: 100%;
    height: 2%;
}